@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  height: 100vh;
}

/* LAYOUT */
main {
  display: flex;
  flex-direction: column;
}

.player {
  flex: 1 1;
  text-align: center;
}

.boxScore {
  display: flex;
  padding: 10px;
  background-image: linear-gradient(red, yellow);
}
.vs-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name,
.score {
  align-items: center;
  color: #fdfdfd;
  display: flex;
  flex: 1 1;
  font-size: clamp(1.6rem, 5vw, 4rem);
  font-weight: 700;
  justify-content: center;
  margin: auto;
  max-width: 120px;
}

.score {
  font-size: clamp(1.6rem, 5vw, 6rem);
}

.img {
  height: 100px;
  width: 100px;
}
.vs {
  height: 100px;
}

.table {
  display: flex;
  color: #fff;
  padding: 1rem 4rem;
  flex-direction: column;
  gap: 6px;
  background-color: hsla(0, 2%, 25%, 0.836);
}

.content {
  padding: 1rem 0;
}
.content__item {
  display: flex;
  padding: 0 3rem;
  font-size: 1.8rem;
}

.content__label {
  flex: 1 1;
  text-align: center;
}
.Ag {
  padding: 0 1rem;
  display: flex;
}
.Bg {
  background-color: #222;
  display: flex;
  flex: 1 1;
  height: 9px;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 7.5px;
  border-top-left-radius: 7.5px;
  justify-content: flex-end;
  margin-right: 4px;
}

.Cg {
  background-color: #222;
  display: flex;
  flex: 1 1;
  height: 9px;
  overflow: hidden;
  position: relative;
  border-bottom-right-radius: 7.5px;
  border-top-right-radius: 7.5px;
  margin-left: 4px;
}
.Fg {
  background-color: #ff6b00;
}

@media (max-width: 710px) {
  .img {
    height: 60px;
    width: 60px;
  }
  .vs {
    height: 40px;
  }
  .content__item {
    font-size: 1.2rem;
  }
  .table {
    padding: 1rem;
  }
}
